/* scrollbar.css */
.scroll-container::-webkit-scrollbar {
  width: 5px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #159c98;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #159c98;
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
